@import url('https://abbie.github.io/discord-css/import.css');  /* Configurable Debloater */

/* Configurable Debloater */
:root {
    --\\--compact-title-bar: false;
    --\\--compact-input-box: false;
    --\\--compact-channel-categories: false;
    --\\--compact-server-list: false;

    --\\--hide-nameplates: false;
    --\\--hide-guild-tags: false;
    --\\--hide-profile-effects: false;
    --\\--hide-avatar-decorations: false;
    --\\--hide-gradient-glow-usernames: false;
    --\\--hide-server-boost-goal: false;
    --\\--hide-server-activity: true;
    --\\--hide-user-activity: false;
    --\\--hide-context-menu-quick-reactions: true;
    --\\--hide-hover-quick-reactions: true;
    --\\--hide-image-edit-button: true;
    --\\--hide-gif-button: false;
    --\\--hide-sticker-button: false;
    --\\--hide-emoji-button: false;
    --\\--hide-apps-button: true;
    --\\--hide-gift-button: true;
    --\\--hide-help-button: true;
    --\\--hide-shop-button: false;
    --\\--hide-nitro-button: true;
    --\\--hide-nitro-upsells: true;
    --\\--hide-vencord-desktop-platform-indicator: true;
    --\\--hide-active-now: true;
    --\\--hide-cluttery-badges: false;
    /* ^ hides quest, hypesquad, active dev, and discriminator badges */

    --\\--darker-scrollbar: true;
    --\\--darker-hovered-message: true;
    --\\--prevent-sidebar-resizing: false;
    --\\--fix-minor-icon-misalignments: true;
}
