
/* ======================================= */
/* Configurable Debloater CSS Code */
/* ======================================= */

@container style(--\\--compact-title-bar: true) {
	body {
		--custom-app-top-bar-height: 28px;
	}

	div[data-windows="true"][class*="bar"] {
		--space-32: var(--custom-app-top-bar-height);
	}
}

@container style(--\\--compact-input-box: true) {
	:is(form, form > div) {
		& > div[class*="channelBottomBarArea"] {
			--custom-channel-textarea-text-area-height: 44px;
			div[class*="attachWrapper_"] {
				padding: 6px;
			}
			div[class*="attachButton"] > div[class*="icon"] {
				padding: 10px !important;
			}
			div[class*="attachWrapper"] {
				padding: 5px;
			}
		}

		& > [class*="wrapper__"] {
			padding: 10px !important;
			& > div {
				margin-left: 0;
				margin-right: 0;
			}
		}

		div[class*="textArea"] + div[class*="buttons"] {
			gap: 0;
		}
	}

	div[class*="jumpToPresentBar"], div[class*="jumpToPresentBar"]:active {
		margin-bottom: 1px;
		min-height: 0;
		button {
			min-height: 0;
			height: unset;
		}
	}
}

@container style(--\\--compact-context-menu: true) {
	div[class*="clickTrapContainer"] div[role="menu"] {
		div[role="group"] {
			padding: 0;
		}

		div:is([role="menuitem"],[role="menuitemcheckbox"]), div[class*="hideInteraction_"] {
			padding: 4px;

			&:not([class*="colorDanger"], :hover) div[class*="label"] {
				color: var(--interactive-normal);
			}
		}
	}
}

@container style(--\\--compact-user-area: true) {
	section[aria-label="User area"], div[class*="sidebar_"] > section[aria-label] {
		left: 0 !important;
		bottom: 0 !important;
		border-radius: 0 !important;
		border: none !important;
		width: 100% !important;
		background-color: color-mix(in oklab, var(--background-tertiary, var(--background-base-lowest)), #000 11%) !important;

		& > [class*="wrapper_"] > [class*="container_"] {
			--space-xs: 6px;
		}
	}

	nav[class*="privateChannels__"] > div[class*="scroller__"], nav[aria-label="Servers sidebar"], nav[class*="guilds_"] {
		margin-bottom: calc(var(--custom-app-panels-height, 0)) !important;
	}

	[class*="sidebarList_"] #channels {
		margin-bottom: 0;
	}

	[class*="activityPanel_"] {
		background-color: transparent;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	[class*="rtcConnectionStatusWrapper__"] {
		[class*="labelWrapper__"] [class*="rtcConnectionStatusLabel__"] > div > div {
			font-size: 100%;
		}

		[class*="rtcConnectionStatus__"] + a > div > div {
			font-size: 100%;
		}
	}
}

@container style(--\\--compact-channel-categories: true) {
	ul[aria-label="Channels"] {
		li[class*="containerDefault"] :is(a, div)[class*="link"] {
			--radius-sm: 5px;
		}

		li[class*="containerDefault"] h3:is([class*="name"], [class*="header"]) > div {
			font-size: 95%;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}

@container style(--\\--compact-server-list: true) {
	nav[aria-label="Servers sidebar"] {
		--custom-guild-list-width: 56px;
		--custom-guild-list-padding: 8px;
	}
}

/* --------------------------------------- */

@container style(--\\--hide-nameplates: true) {
	div[class*="childContainer"][class*="nameplated"] {
		padding-right: inherit;
		& > div[class*="container"][style] {
			display: none;
		}
	}

	li[class*="channel"] > div[class*="interactive"] > div[class*="container"]:is([class*="fadeIn"], :has(> div[class*="videoContainer"])) {
		display: none;
	}

	[class*="closeButtonPlated"] {
		opacity: 0.7;
		[class*="innerCloseButtonPlated"] {
			background-color: transparent;
		}
	}
}

@container style(--\\--hide-guild-tags: true) {
	[role="button"]:is([class*="clanTag"], [class*="clanTagChiplet"]),
	[class*="container"] > [class*="tags"] > span:has(> [class*="chipletContainerInline"]),
	span:has(> span[class*="clanTagChiplet"]) {
		display: none;
	}
}

@container style(--\\--hide-profile-effects: true) {
	[class*="profileEffects"] { display: none; }
}

@container style(--\\--hide-avatar-decorations: true) {
	[class*="avatarDecoration"] { display: none; }
}

@container style(--\\--hide-gradient-glow-usernames: true) {
	[class*="ColorGradient"] {
		background: none;
		color: color-mix(in oklab, var(--custom-gradient-color-1), var(--custom-gradient-color-2));
		-webkit-text-fill-color: initial;
		filter: none;
	}
}

@container style(--\\--hide-server-boost-goal: true) {
	div:has(> div[class*="textArea"] > div[class*="goalTextContainer"]),
	div#channels > ul > div[class*="containerWithMargin"] {
		display: none;
	}
}

@container style(--\\--hide-server-activity: true) {
	h3[class*="membersGroup"]:has(svg path[d^="M10.56 1.1c"]) {
		display: none;
	}

	:is(div[aria-label="Members"], div[class*="members_"] > div[role="list"][aria-label]) > div:not([class], [role], [aria-label], [aria-role]):has(> div > div[class*="openOnHover"]) {
		display: none;
	}
}

@container style(--\\--hide-user-activity: true) {
	div[class*="activityPanel"] { display: none; }
}

@container style(--\\--hide-context-menu-quick-reactions: true) {
	div[class*="clickTrapContainer"] div[role="menu"] :is([id*="message-quickreact"], [id*="message-actions-quickreact"]) {
		display: none;
	}
}

@container style(--\\--hide-hover-quick-reactions: true) {
	:is(div[aria-label="Message Actions"], div[class*="message__"] > div[class*="buttonContainer_"] > div[class*="buttons__"]) > div {
		& :is([aria-label^="Click to react with"], div[class*="hoverBarButton_"]:has(> div[class*="icon_"])) { display: none; }
		& > [class*="separator"] { display: none; }
	}
}

@container style(--\\--hide-image-edit-button: true) {
	[aria-label="Edit Image with Apps"],
	div[class*="imageContainer_"] > div[class*="hoverButtonGroup_"] > div[class*="hoverButton_"]:has(> div > svg path[d^=" M-6.554999828338623,1"]) {
		display: none;
	}
}

@container style(--\\--hide-gif-button: true) {
	[role=button][aria-label="Open GIF picker"],
	div.expression-picker-chat-input-button > [role=button]:has(svg path[d^=" M-7,-10 C-8.65"]) {
		display: none;
	}
}

@container style(--\\--hide-sticker-button: true) {
	[role=button][aria-label="Open sticker picker"],
	div.expression-picker-chat-input-button > [role=button]:has(svg path[d^=" M-6,-10 C-6,-10 6,-10 6,-10 C8.20"]) {
		display: none;
	}
}

@container style(--\\--hide-emoji-button: true) {
	[role=button][aria-label="Select emoji"],
	[role=button][class*="emojiButtonNormal_"] {
		display: none;
	}
}

@container style(--\\--hide-apps-button: true) {
	div.app-launcher-entrypoint { display: none !important; }
}

@container style(--\\--hide-gift-button: true) {
	[role=button][aria-label="Send a gift"],
	div[class*="textArea_"] + div[class*="buttons_"] > div:has(> div svg path[d^=" M-7,10 C-8.1049995"]) {
		display: none;
	}
}

@container style(--\\--hide-help-button: true) {
	div[data-fullscreen] div[class*="-trailing"] a[href="https://support.discord.com"] {
		display: none;
	}
}

@container style(--\\--hide-shop-button: true) {
	li[role="listitem"]:has(> div > a[href*="/shop"]) { display: none; }
	div[class*="profileButtons"] span:has(> button[aria-label="Shop"]) { display: none; }
}

@container style(--\\--hide-nitro-button: true) {
	li[role="listitem"]:has(> div > a[href*="/store"]) { display: none; }
}

@container style(--\\--hide-quest-button: true) {
	li[role="listitem"]:has(> div > a[href*="/quest-home"]) { display: none; }
}

@container style(--\\--hide-active-now: true) {
	div[class*="nowPlayingColumn"] { display: none; }
}

@container style(--\\--hide-nitro-upsells: true) {
	[class*="upsellContainer__"] { display: none; }
}

@container style(--\\--hide-vencord-desktop-platform-indicator: true) {
	.vc-platform-indicator img[aria-label="Desktop"] { display: none; }
}

@container style(--\\--hide-cluttery-badges: true) {
	/* TODO: make selectors language independent */
	[aria-label="User Badges"] {
		[aria-label="Active Developer"],
		[aria-label="Completed a Quest"],
		[aria-label^="Originally known as"],
		[aria-label^="Collected the Orb Profile Badge"],
		[aria-label^="HypeSquad"] {
			display: none;
		}
	}
}

/* --------------------------------------- */

@container style(--\\--darker-scrollbar: true) {
	body, [class*="scroller__"] {
		--scrollbar-auto-track: #00001116;
		--scrollbar-auto-thumb: #0005;
	}
}

@container style(--\\--darker-hovered-message: true) {
	body {
		--message-background-hover: #00001116;
	}
}

@container style(--\\--prevent-sidebar-resizing: true) {
	[class*="sidebarResizeHandle"] { display: none !important; }
}

@container style(--\\--fix-minor-icon-misalignments: true) {
	svg[class*="ownerIcon__"] {
		top: -1px;
	}

	svg[class*="flowerStar__"] path[d^="m16 7.6c0"] {
		transform: translateY(-0.5px);
	}

	[class*="guildDropdown_"] svg path[d^="M5.3 9.3a1"] {
		transform: translateY(2px);
	}
}

/* --------------------------------------- */
/* Custom Features */
/* --------------------------------------- */

@container style(--\\--fix-about-me-textarea: true) {
	.bioTextArea__6a919 {
		height: max-content;
	}
}

@container style(--\\--hide-quests-panel: true) {
	section[class^="panels_"] > div[class^="mask_"] {
		display: none;
	}
}

@container style(--\\--hide-nitro-shop-sidebar: true) {
	a[data-list-item-id*="nitro"],
	a[data-list-item-id*="shop"] {
		display: none !important;
	}
}

@container style(--\\--style-read-all-button: true) {
	.vc-ranb-button {
		margin: 0 16px;
		width: calc(100% - 32px);
		height: 40px !important;
		min-height: 40px;
		max-height: 40px !important;
		padding: 2px;
		background-color: var(--background-surface-higher);
		border: none;
		border-radius: 12px;
		color: transparent;
		font-size: 0px;
		white-space: nowrap;
		box-sizing: border-box;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.vc-ranb-button::after {
		content: "";
		width: 16px;
		height: 16px;
		position: absolute;
		background-image: url("https://cdn.panda-network.de/discord/glocke-white.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	.vc-ranb-button:hover {
		background-color: var(--brand-500);
	}
}

@container style(--\\--colored-role-pills: true) {
	.role_dfa8b6.pill_dfa8b6 {
		position: relative;
		background: none;
		border: none;
		padding-left: 28px;
	}

	.role_dfa8b6.pill_dfa8b6 > span {
		z-index: 1;
	}

	.role_dfa8b6.pill_dfa8b6 .roleRemoveButton_dfa8b6 {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: 0 !important;
	}

	.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569 {
		margin: 6px 8px;
	}

	.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569::before {
		content: "";
		display: block;
		position: absolute;
		background-color: inherit;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		border-radius: var(--radius-xs);
		filter: brightness(1.1);
		opacity: 0.25;
	}
}

@container style(--\\--remove-nitro-tooltip: true) {
	.tooltipWordmarkContainer_f240e3 {
		display: none;
		padding: 0;
	}

	.tooltipContainer_f240e3 > img {
		display: none;
	}

	.tooltipContainer_f240e3 > h1 {
		display: none;
		padding: 0;
	}

	.tooltipContainer_f240e3 {
		padding: 0;
		margin: 0 auto;
	}

	.tooltipDescription_f240e3 {
		color: white !important;
		font-size: 14px;
		padding: 0;
	}
}

@container style(--\\--style-member-count: true) {
	.vc-membercount-container:first-of-type {
		margin-left: 8px;
	}

	.vc-membercount-container:last-of-type {
		margin-right: 8px;
	}

	.vc-membercount-online-count circle {
		fill: var(--color-online, #23a559);
	}

	.vc-membercount-total-count circle {
		fill: var(--color-total, #b9bbbe);
	}

	.vc-membercount-voice-icon {
		color: #5865f2;
	}

	.vc-membercount-online {
		color: var(--color-online, #23a559);
		font-weight: 600;
		margin-right: 2px;
	}

	.vc-membercount-total {
		color: var(--color-total, #b9bbbe);
		font-weight: 600;
		margin-right: 2px;
	}

	.vc-membercount-voice {
		color: var(--color-voice, #5865f2);
		font-weight: 600;
		margin-right: 2px;
	}
}
